@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <h1>Proyecto Beneficiarios</h1>
    <h2>ASP.NET Core 7</h2>
    <br /><br /><br />
    <p>
        Selecciona la opción Empleado para poder agregar, modificar y borrar registros de empleados.<br /><br />
        Para cada empleado podrás agregar uno o mas beneficiarios
    </p>
    <br />
    <h4 class="text-secondary">Este proyecto ha sido desarrollado con RESTful API y Framework</h4>
</div>
